<header>
  <div class="nav-header row">
    <div class="brand-name col-8 pt-1">
      <h3 class="masthead-brand">Bianca Velázquez</h3>
    </div>

    <div class="login col-4 d-flex justify-content-end align-items-center">
      <%= login_helper 'btn btn-sm btn-outline-secondary session' %>
    </div>
  </div>

  <div class="row justify-content-center">
    <nav class="nav nav-masthead justify-content-center app-nav">
      <%= nav_helper "nav-link text-muted", "div" %>
    </nav>
  </div>
</header>
        