<div class="app-card-container">
  <div class="card">
    <h1 class="card-header bg-transparent">Welcome to my Portfolio</h1>
    <div class="card-body">
      <p class="lead">
        TODO: Add a description
      </p>
      <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-outline-light" %>
      </p>
    </div>
  </div>
</div>
