<style>
.pagination {
  padding:.3em;
  margin:.3em; 
  font: 13.34px helvetica,arial,freesans,clean,sans-serif;
}
.pagination .btn {
  margin-right:10px;
}
.pagination a {
  padding:.1em .3em;
  margin:.2em;
  text-decoration:none;
  color:#6c757d;
}
.pagination a:hover,.pagination a:active {
  color:#eee;
}
.pagination span.current {
  padding:.1em .3em;
  margin:.2em;
  border:1px solid #6c757d;
  font-weight:bold;
  background-color:#6c757d;
  color:#FFF;
}
.pagination span.disabled {
  padding:.1em .3em;
  margin:.2em;
  border:0px solid #fff;
  color:#ddd;
}
</style>

<%= paginator.render do -%>
  <div class="pagination"><%= prev_page_tag -%><%= next_page_tag -%></div>
<% end -%>
